@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Orbit&display=swap');

#header_menu{
display: flex;
justify-content: space-between;
}
h1{
    color: black;
    text-align: center;
}
body{

    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-family: 'Orbit', sans-serif;
}
li{

    font-weight: bold;
    
}
#header_menu{
    background-color:azure;
}
table{
    border: 1px solid black;


   
    text-align: center;

    align-items: center;
    margin-left: 20px;
    border-collapse: collapse; 
}

tr{
    border: 1px solid black;
   border-collapse: collapse; 
}
th{
    border: 1px solid black;
   border-collapse: collapse; 
   background-color: antiquewhite;
}
td{
    border: 1px solid black;
   border-collapse: collapse; 
}
#section{
    display: flex;
    justify-content: center;
}
#write_btn{
    font-weight: 700;
    color: white;
    /* display: flex;
    align-items: center;
    text-align: center; */
    background-color: aqua;

   
    width: 70px;
    height: 60px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-family: 'Orbit', sans-serif;
    border-radius: 10px;
    margin-left: 50%;
    
}
li:hover, li:focus { 

    animation-duration: 3s; 

    animation-name: rainbowLink; 
    animation-iteration-count: infinite; 

} 

@keyframes rainbowLink {     

    0% { color: #ff2a2a; }

    15% { color: #ff7a2a; }

    30% { color: #ffc52a; }

    45% { color: #43ff2a; }

    60% { color: #2a89ff; }

    75% { color: #202082; }

    90% { color: #6b2aff; } 

   100% { color: #e82aff; }

}

