@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Orbit&display=swap');

#header_menu{
display: flex;
justify-content: space-between;
}
h1{
    color: white;
    text-align: center;
}
body{
    background-image:url("https://src.hidoc.co.kr/image/lib/2023/2/13/1676276510821_0.jpg");

    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-family: 'Orbit', sans-serif;
}
li{

    font-weight: bold;
    
}
#header_menu{
    background-color:azure;
}
/* hover 기능 마우스를 갖다대면 색이바뀜 */
li:hover, li:focus { 

    animation-duration: 3s; 

    animation-name: rainbowLink; 
    animation-iteration-count: infinite; 

} 

@keyframes rainbowLink {     

    0% { color: #ff2a2a; }

    15% { color: #ff7a2a; }

    30% { color: #ffc52a; }

    45% { color: #43ff2a; }

    60% { color: #2a89ff; }

    75% { color: #202082; }

    90% { color: #6b2aff; } 

   100% { color: #e82aff; }

}



